<template>
    <div class="search-categories">
        <button class="search-categories-toggle" @click="toggleVisibility">
            <v-icon v-if="show" dark medium>close</v-icon>
            <v-icon v-else dark medium>{{ checkedCategory.icon }}</v-icon>
        </button>
        <transition name="slide">
            <ul v-if="show">
                <li v-for="category in searchCategories">
                    <input type="radio" :id="category.name" :value="category" v-model="currentCategory" v-on:click="updateCategory(category.name)">
                    <label :for="category.name"><v-icon dark medium>{{ category.icon }}</v-icon></label>
                </li>
            </ul>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "categories-filter",
        data () {
            return {
                show: false,
                searchCategories: [
                    { name: 'restaurant', title: "Restaurants", icon: "restaurant"},
                    { name: 'cafe', title: "Cafés", icon: "local_cafe"},
                    { name: 'movie_theater', title: "Kinos", icon: "local_movies"},
                    { name: 'bar', title: "Bar", icon: "local_bar"},
                    { name: 'lodging', title: "Hotel", icon: "local_hotel"},
                    { name: 'park', title: "Park", icon: "nature_people"},
                    { name: 'spa', title: "Wellness", icon: "spa"},
                    { name: 'casino', title: "Casino", icon: "casino"},
                    { name: 'museum', title: "Museum", icon: "account_balance"}
                ],
                currentCategory: false
            }
        },
        computed: {
            checkedCategory: function() {
                return this.currentCategory ? this.currentCategory : this.searchCategories[0]
            }
        },
        methods: {
            updateCategory: function(newCat) {
                // Es ist ein bissl blöd, dass newCat übergeben werden muss...
                // Wenn man this.currentCategory nimmt, was besser wäre, gibt
                // es aber einen Fehler, weil er es über v-model noch nicht
                // aktualisiert hat.
                // this.checkedCategegory.name geht auch nicht -.-
                this.$emit('categoryUpdate', newCat)
                this.toggleVisibility()
            },
            toggleVisibility: function() {
                this.show = !this.show
            }
        }
    }
</script>

<style>
    .search-categories-toggle {
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        background-color: orange;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        z-index: 1;
        color: white;
    }
    .search-categories {
        position: absolute;
        top: 10rem;
        right: 1rem;
        padding-right: 4rem;
        background: transparent;
        z-index: 1;
        opacity: 1;
        transform: translateX(0);
    }
    .search-categories ul {
        margin: 0;
        margin-top: -1rem;
    }
    .search-categories li {
        width: 3rem;
        display: block;
        text-align: left;
        float: left;
        position: relative;
        margin: 0 0.5rem;
        margin-top: 1rem;
    }
    .search-categories li::before {
        width: 3rem;
        height: 3rem;
        content: "";
        border-radius: 2rem;
        background-color: #FF9800;
        position: absolute;
        top: 0;
        left: 0;
    }
    .search-categories li label {
        text-align: center;
    }
    .search-categories input {
        display: none;
    }
    .search-categories i {
        display: block;
        position: relative;
        margin: 0.7rem auto;
    }

</style>