<template>
    <div class="location-list">
        <button class="location-list-toggle" @click="toggleVisibility">
            <v-icon v-if="show" dark medium>close</v-icon>
            <v-icon v-else dark medium>edit_location</v-icon>
        </button>

        <transition name="slide">
            <transition-group name="slide" tag="ul" class="added-locations" v-if="show">
                <li v-for="(location, index) in locationsList" v-bind:key="location.address" class="list-item">
                    <p>{{location.address}}</p>
                    <button class="delete-location" v-on:click="removeLocation(index)">
                        <v-icon color="grey">delete</v-icon>
                    </button>
                </li>
            </transition-group>
        </transition>

    </div>
</template>

<script>
    export default {
        name: "location-list",
        props: ['locationsList'],
        data () {
            return {
                show: true
            }
        },
        methods: {
            removeLocation: function(i) {
                this.$emit('removeLocation', i)
            },
            toggleVisibility: function() {
                this.show = !this.show
            }
        }
    }
</script>

<style scoped>
    .location-list {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 6rem;
        background: transparent;
        z-index: 1;
        opacity: 1;
    }
    .location-list-toggle {
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        background-color: deeppink;
        position: absolute;
        top: 0;
        right: 1rem;
        border: none;
        z-index: 2;
        color: white;
    }
    .location-list-toggle span {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }
    .location-list-toggle span i {

    }
    .added-locations {
        position: absolute;
        bottom: -3rem;
        left: 1rem;
        right: 5rem;
        z-index: 1;
        text-align: left;
        border-radius: 1rem;
        overflow: hidden;
    }
    .added-locations .list-item {
        height: 3rem;
        display: block;
        position: relative;
        padding-left: 1rem;
        background: white;
    }
    .added-locations .list-item + .list-item::before {
        position: absolute;
        content: "";
        height: 1px;
        top: 0;
        left: 2rem;
        right: 2rem;
        background: rgba(0,0,0,0.1);
    }
    .added-locations .list-item p {
        line-height: 3rem;
    }
    .delete-location {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
</style>