<template>
  <div class="map">
    <div class="location-input-wrapper">
      <input id="location-input" type="text" v-model="newLocation" v-on:keyup.enter="addLocation()" placeholder="Adresse eingeben"/>
      <button id="gps-input" v-on:click="getGPS()">
        <v-icon light medium>gps_fixed</v-icon>
      </button>
    </div>

    <button id="add-location" class="add-location" v-on:click="addLocation()">
      <v-icon dark medium>add</v-icon>
    </button>

    <transition name="messageTransition">
      <div class="message-wraper" v-if="msg">
        <p id="message">{{ msg }}</p>
      </div>
    </transition>

    <category-filter v-on:categoryUpdate="updateCategory($event)" v-on:triggerSearch="searchPlaces()"/>

    <radius-filter v-on:radiusUpdate="updateRadius($event)" v-on:triggerSearch="searchPlaces()"/>

    <button class="center-locations">
      <v-icon dark medium v-on:click="zoomToBounds('locations')">fullscreen</v-icon>
    </button>

    <button class="change-map-type">
      <v-icon dark medium v-on:click="switchMapType()">layers</v-icon>
    </button>

    <button class="trigger-search" v-if="statusChanged">
      <v-icon dark medium v-on:click="searchPlaces()">search</v-icon>
    </button>

    <transition name="slide">
      <location-list v-if="showLocationToggle" :locationsList="addedLocationsList" v-on:removeLocation="removeLocation($event)"/>
    </transition>

    <div id="googlemap"></div>
  </div>
</template>

<script>
    import Vue from 'vue'
    import GoogleMapsLoader from 'google-maps'
    import CategoryFilter from './CategoryFilter'
    import RadiusFilter from './RadiusFilter'
    import LocationList from './LocationList'
    import { mapsAPIkey } from '../config'

    GoogleMapsLoader.KEY = mapsAPIkey
    GoogleMapsLoader.LIBRARIES = ['geometry', 'places'];

    let gl = null
    let map = null
    let geocoder = null
    let locationBounds = null
    let placeBounds = null
    let infowindow = null
    let placesService = null
    let autocomplete = null

    // Todo: get initial center via device location
    let initialCenter = {lat: 51.451169, lng: 10.517328}
    let initialZoom = 6

    export default {
        components: {
            CategoryFilter,
            RadiusFilter,
            LocationList
        },
        name: 'Map',
        data () {
            return {
                msg: '',
                newLocation: "",
                currentCenter: null,
                addedLocationsList: [], // shown as a list in the ui
                markers: {
                    locations: [], // added by the user
                    center: [], // calculated based on locations
                    places: [] // search results
                },
                boundList: { // keeps track of bounds for updating purposes
                    locations: [],
                    places: []
                },
                searchRadius: 1000,
                checkedCategory: ['restaurant'], // default
                messageDuration: 3000,
                mapType: 'roadmap',
                statusChanged: false,
                showLocationToggle: false
            }
        },
        methods: {
            addLocation: function() {
                geocoder.geocode({'address': this.newLocation}, (results, status) => {
                    if(status === 'OK') {

                        // Wird die erste Location hinzugefügt, muss der ehemalige center
                        // aus der boundList entfernt werden
                        if(this.addedLocationsList.length === 0) {
                            locationBounds = new gl.maps.LatLngBounds()
                        }

                        this.addLocationMarker(results[0])
                        this.addedLocationsList.push({address: results[0].formatted_address})
                        this.boundList.locations.push(results[0].geometry.location)
                        locationBounds.extend(results[0].geometry.location)
                        this.zoomToBounds('locations')

                        // Bei mehr als einem Marker wird der center marker angezeigt und
                        // die Suche angeboten
                        if(this.markers.locations.length > 1) {
                            this.updateCenterMarker()
                            this.statusChanged = true
                        }

                        this.newLocation = "";
                        this.removeAllPlaces()
                        this.showLocationToggle = true
                    } else {
                        this.showMessage('Keine Ergebnisse für: ' + this.newLocation)
                    }
                })
            },
            removeLocation: function(index) {
                this.addedLocationsList.splice(index, 1)
                this.markers.locations[index].setMap(null)
                this.markers.locations.splice(index, 1)
                this.boundList.locations.splice(index, 1)
                this.removeAllPlaces()

                // re-init location bounds
                locationBounds = new google.maps.LatLngBounds()

                if(this.addedLocationsList.length === 0) {
                    locationBounds.extend(initialCenter)
                    this.showLocationToggle = false
                }
                else if(this.addedLocationsList.length === 1) {
                    locationBounds.extend(this.boundList.locations[0])
                    this.statusChanged = false
                    this.removeCenterMarker()
                }
                else {
                    for(let i = 0; i < this.boundList.locations.length; i++) {
                        locationBounds.extend(this.boundList.locations[i])
                    }
                }
                this.zoomToBounds('locations')

                this.updateCenterMarker()

                if(this.addedLocationsList.length > 1) {
                    this.statusChanged = true
                }
            },
            addLocationMarker: function(result) {
                let marker = new google.maps.Marker({
                    map: map,
                    position: result.geometry.location,
                    icon: './img/marker-red.png'
                })
                this.markers.locations.push(marker)
            },
            addCenterMarker: function() {
                this.currentCenter = locationBounds.getCenter()
                this.markers.center.push(new google.maps.Marker({
                    map: map,
                    position: this.currentCenter,
                    icon: './img/marker-green.png'
                }))
            },
            removeCenterMarker: function() {
                if(this.markers.center.length > 0) {
                    this.markers.center[0].setMap(null)
                    this.markers.center = []
                }
            },
            updateCenterMarker: function() {
                this.removeCenterMarker()
                if(this.markers.locations.length > 1) {
                    this.addCenterMarker(locationBounds.getCenter())
                }
            },
            addPlaceMarker: function(result) {
                let marker = new google.maps.Marker({
                    map: map,
                    position: result.geometry.location,
                    icon: './img/marker-blue.png'
                })

                let content = '<div class="marker-content">';
                content += '<div class="marker-image">'
                if(result.hasOwnProperty('photos')) {
                    content += '<img width="100" height="100" src="' + result.photos['0'].getUrl({maxWidth: 640}) + '"/>'
                }
                content += '</div>'
                content += '<div class="marker-infos">'
                content += '<p class="marker-name">' + result.name + '</p>'
                content += '<p class="marker-address">' + result.vicinity + '</p>'
                if(result.hasOwnProperty('opening_hours')) {
                  content += '<p class="open">Geöffnet: ';
                  content += result.opening_hours.open_now ? 'ja' : 'nein'
                  content += '</p>'
                }
                content += '<p>Bewertung: ' + result.rating + '</p>'
                content += '</div>'
                content += '</div>'

                gl.maps.event.addListener(marker, 'click', function() {
                    infowindow.setContent(content)
                    infowindow.open(map, this)
                })
                this.markers.places.push(marker)
            },
            zoomToBounds: function(type) {
                if(type === 'locations') {
                    map.fitBounds(locationBounds)
                    map.setCenter(locationBounds.getCenter())
                }
                else if (type === 'places') {
                    map.fitBounds(placeBounds)
                    map.setCenter(placeBounds.getCenter())
                }

                // fitBounds() zoomt für einen einzelenen Marker zu nah ran
                if(map.getZoom() > 15){
                    map.setZoom(15);
                }

                if(this.addedLocationsList.length === 0) {
                    map.setZoom(initialZoom)
                }
            },
            updateRadius: function(r) {
                this.searchRadius = r

                if(this.addedLocationsList.length > 1) {
                    this.statusChanged = true
                }
            },
            updateCategory: function(c) {
                this.checkedCategory.pop()
                this.checkedCategory.push(c)

                if(this.addedLocationsList.length > 1) {
                    this.statusChanged = true
                }
            },
            searchPlaces: function() {
                if(this.currentCenter) {
                    this.removeAllPlaces()

                    let request = {
                        location: this.currentCenter,
                        radius: this.searchRadius,
                        types: this.checkedCategory
                    }

                    placesService.nearbySearch(request, this.processFoundPlaces);
                    this.statusChanged = false;
                } else {
                    this.showMessage('Bitte mindestens 2 Orte hinzufügen')
                }
            },
            processFoundPlaces: function(results, status) {
                let cleanResults = []
                if(status === gl.maps.places.PlacesServiceStatus.OK) {
                    for(let i = 0; i < results.length; i++) {
                        if(gl.maps.geometry.spherical.computeDistanceBetween(results[i].geometry.location, this.currentCenter) < this.searchRadius) {
                            cleanResults.push(results[i])
                        }
                    }
                }
                if(cleanResults.length === 0) {
                    this.showMessage('Es wurden keine Ergebnisse gefunden. Versuche den Radius zu vergrößern')
                } else {
                    cleanResults = cleanResults.length > 10 ? cleanResults.splice(10) : cleanResults
                    this.showMessage(cleanResults.length + ' Ergebnisse gefunden')
                    this.addFoundPlaces(cleanResults)
                }
            },
            addFoundPlaces: function(results) {
                this.boundList.places = []
                placeBounds = new gl.maps.LatLngBounds()

                for(let i = 0; i < results.length; i++) {
                    this.addPlaceMarker(results[i])
                    this.boundList.places.push(results[i])
                    placeBounds.extend(results[i].geometry.location)
                }
                this.zoomToBounds('places')
            },
            removeAllPlaces: function() {
                for(let i = 0; i < this.markers.places.length; i++) {
                    this.markers.places[i].setMap(null)
                    this.boundList.places.pop()
                }
                this.markers.places = []
                placeBounds = new gl.maps.LatLngBounds()
            },
            showMessage: function(msg) {
                this.msg = msg
                setTimeout(() => {
                    this.msg = ''
                }, this.messageDuration)
            },
            switchMapType: function() {
                if(map.mapTypeId === 'roadmap') {
                    map.setMapTypeId('satellite');
                } else {
                    map.setMapTypeId('roadmap');
                }
            },
            getGPS: function() {
                Vue.cordova.geolocation.getCurrentPosition((position) => {

                    let latlng = {lat: position.coords.latitude, lng: position.coords.longitude}

                    geocoder.geocode({'location': latlng}, (results, status) => {
                        if(status === 'OK') {
                            if(results[0]) {
                                this.showMessage('GPS Position erfolgreich bestimmt')
                                this.newLocation = results[0].formatted_address;
                                document.getElementById('add-location').click()
                            } else {
                                this.showMessage('Keine Adresse zur GPS Position gefunden')
                            }
                        }
                        else {
                            this.showMessage('Adresse zu Koordinaten nicht gefunden')
                        }
                    })
                }, (error) => {
                    this.showMessage('Fehler beim Bestimmen der GPS Position: ' + error.message)
                }, {
                    timeout: 1000,
                    enableHighAccuracy: true
                })
            }
        },
        mounted: function() {
            let that = this
            GoogleMapsLoader.load(function(google) {
                gl = google

                map = new google.maps.Map(document.getElementById('googlemap'), {
                    zoom: initialZoom,
                    center: initialCenter,
                    disableDefaultUI: true,
                    mapTypeId: 'roadmap'
                    //styles: Mapstyles.default
                    // Todo: Verschiedene Styles ermöglichen
                });

                geocoder = new google.maps.Geocoder()
                locationBounds = new google.maps.LatLngBounds()
                locationBounds.extend(initialCenter)
                placeBounds = new google.maps.LatLngBounds()
                infowindow = new google.maps.InfoWindow({maxWidth: 300})
                placesService = new google.maps.places.PlacesService(map)


                autocomplete = new google.maps.places.Autocomplete(document.getElementById('location-input'), { })
                autocomplete.addListener('place_changed', function() {
                    let place = autocomplete.getPlace()
                    that.newLocation = place.formatted_address
                    that.addLocation()
                })
            })
        }
    }
</script>

<style>
  html {
    height: 100%;
    font-size: 16px;
  }
  * {
    box-sizing: border-box;
  }
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  body {
    height: 100%;
    margin: 0;
  }
  p {
    margin: 0;
  }
  button {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    position: absolute;
    right: 1rem;
    border: none;
    z-index: 1;
    color: white;
  }
  button:focus {
    outline: none;
  }
  .map {
    height: 100%;
  }
  #googlemap {
    height: 100%;
  }
  .location-input-wrapper {
    position: absolute;
    top: 1em;
    right: 1em;
    left: 1em;
    z-index: 1;
  }
  #location-input {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0 2.5rem 0 0.5rem;
    background: white;
    text-align: center;
    float: left;
  }
  #location-input:focus {
    text-align: left;
    outline: none;
  }
  #location-input:focus::-webkit-input-placeholder {
    color:transparent;
  }
  .pac-item {
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 0.5rem;
  }
  .pac-icon {
    display: none;
  }
  #gps-input {
    width: 2.5rem;
    height: 2.5rem;
    right: 0;
    border-radius: 0;
    background: #F5F5F5;
  }
  .message-wraper {
    position: absolute;
    z-index: 99;
    width: 100%;
    text-align: center;
  }
  #message {
    margin: 5.3rem auto 0 auto;
    min-height: 0;
    top: 15.3rem;
    display: inline-block;
    padding: 0.3rem 1rem;
    z-index: 99;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 2rem;
    color: white;
    font-size: 0.8rem;

    opacity: 1;
    transform: translateX(0);
  }
  .add-location {
    top: 6rem;
    background-color: #2196F3;
  }
  .center-locations {
    top: 18rem;
    background-color: #607D8B;
  }
  .change-map-type {
    top: 22rem;
    background-color: #009688;
  }
  .trigger-search {
    top: 26rem;
    background-color: #F44336;
  }


  .gm-style-iw {
    left: 0 !important;
    top: 12px !important;
    max-width: 80% !important; /* mal schauen... */
  }
  .marker-content {
    display: flex;
  }
  .marker-image, .marker-infos {
    float: left;
  }
  .marker-infos {
    text-align: left;
    padding: 0 14px;
  }
  .marker-name {
    font-weight: bold;
    padding: 8px 0;
  }
</style>
