<template>
    <div class="radius">
        <button class="radius-toggle" @click="toggleVisibility">
            <v-icon v-if="show" dark medium @click="updateRadius()">close</v-icon>
            <v-icon v-else dark medium>straighten</v-icon>
        </button>
        <transition name="slide">
            <div v-if="show" class="radius-input-wrap">
                <span class="radius-counter">{{searchRadius}}</span>
                <v-slider v-model="searchRadius" label="Km" thumb-label min="0.5" max="10" step="0.5" color="green" thumb-color="green"/>
            </div>
        </transition>
    </div>

</template>

<script>
    export default {
        name: 'radius-filter',
        data () {
            return {
                show: false,
                searchRadius: 1
            }
        },
        methods: {
            updateRadius: function() {
                this.$emit('radiusUpdate', this.searchRadius * 1000)
            },
            toggleVisibility: function() {
                this.show = !this.show
            }
        }
    }
</script>

<style scoped>
    .radius {
        width: calc(100% - 2rem);
        position: absolute;
        top: 14rem;
        right: 1rem;
        z-index: 1;
    }
    .radius-toggle {
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        background-color: #4CAF50;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        z-index: 2;
        color: white;
    }
    .radius-input-wrap {
        height: 3rem;
        margin-right: 4rem;
        background: white;
        border-radius: 1.5rem;
        padding: 0 1rem;
        position: relative;
        z-index: 1;
    }
    .radius-input-wrap .input-group {
        padding-top: 0.6rem;
        padding-right: 0;
        flex-direction: row-reverse;
    }
    .radius-counter {
        width: 2rem;
        position: absolute;
        display: block;
        height: 3rem;
        line-height: 3rem;
        right: 3.2rem;
        color: rgba(0,0,0,.54);
        text-align: left;
        font-size: 1.4rem;
    }
</style>