<template>
  <div id="app">
    <v-app>
      <router-view/>
    </v-app>
  </div>
</template>

<script>
    import Vue from 'vue'
    export default {
        name: 'App',
        cordova: Vue.cordova,
        plugins: {
            'cordova-plugin-geolocation': function () {
                if (!Vue.cordova.geolocation) {
                    window.alert('Vue.cordova.geolocation not found !')
                    return
                }
                Vue.cordova.geolocation.getCurrentPosition((position) => {
                    window.alert('Current position : ' + position.coords.latitude + ',' + position.coords.longitude)
                }, (error) => {
                    window.alert('FAILED Error #' + error.code + ' ' + error.message)
                }, {
                    timeout: 1000,
                    enableHighAccuracy: true
                })
            }
        }
    }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%;
  }

  /* Für das Slider Element das den Radius einstellt */
  .input-group--slider .input-group__input {
    margin-right: 4rem;
  }
  .input-group--slider label {
    font-size: 1.4rem;
  }

  /************************************
   * Definition sämtlicher Animationen
   ************************************/

  /* SLIDE wird verwendet für:
      - den Kategoriefilter
      - den Range-Filter
      - die LocationList
        - gesamte Liste
        - einzelne Einträge
        - gesamte Liste mit Button
  */
  .slide-enter-active, .slide-leave-active {
    transition: all .5s;
  }
  .slide-enter, .slide-leave-to {
    opacity: 0;
    transform: translateX(-100%);
  }
  .slide-move {
    transition: all .6s;
  }
  /*  Achtung bei Vue transition-groups:
        Der Key sollte unique sein und KEINESFALLS aus den Indizes eines Arrays bestehen.
        Wenn nämlich Elemente aus dem Array gelöscht werden und in diesem Zusammenhang
        die Indizes neu vergeben werden, kommt Vue bei den "leave"-Animationen übelst
        durcheinander.
  */


  /* MESSAGE wird verwendet für:
      - message
  */
  .messageTransition-enter-active, .messageTransition-leave-active {
    transition: transform .5s, opacity .5s;
    position: absolute;
  }
  .messageTransition-enter, .messageTransition-leave-to {
    opacity: 0;
    transform: translate(0%, 50%);
    position: absolute;
  }
</style>
